extends layout 

block content 
  .container.h-100.d-flex.flex-column.justify-content-center.align-items-center
    .row
      .col-12.card.d-flex.flex-column.align-items-center.p-4.shadow
        img.mb-3(src=album.cover, alt="Cover")
        h1 #{album.title}
        p Artist: #{album.artist.stageName}
        p Released: #{album.releaseDateString}
        p Label: #{album.label}
    .row.d-flex.justify-content-center
      a(href=album.url+'/update')
        button.btn.btn-primary.mt-3.mr-3.align-self-center Update
      a(href=album.url+'/delete')
        button.btn.btn-danger.mt-3.align-self-center Delete