extends layout 

block content 

  h1 #{artist.name}
  p #{artist.lifespan}

  div
    h4 Discography

    each album in artistAlbums
      div
        h2 #{album.title}
        ul
          li Released: #{album.releaseDate}
          li Genre(s): #{album.genre}
          li Label: #{album.label}        