extends layout 

block content 
  h1(class="text-center display-3 mb-4 jolly-font")= title 

  .container-fluid
    .row
      each albumInstance in albumsInStock
        .col-6.col-xl-3
          .card.mb-4.d-flex.flex-column.align-items-center.justify-content-center.p-3
            img(class="card-img-top w-100", src=albumInstance.album.cover, alt="Card image cap")
            .card-body.d-flex.flex-column.align-items-center
              h3(class="card-title") #{albumInstance.album.title}
              h6(class="card-title") #{albumInstance.album.artist.stageName}
              a(href=albumInstance.url, class="btn btn-primary") View

      else
        p There are no albums for sale.